:host {
    width: 100%;
    min-height: 100%;

    position: relative;
}
.contentwrapper {
    position: absolute;

    width: 100%;

    height: 95%;

    overflow: hidden;
}
.contentwrapper::after {
    border-radius: 100%;

    background-color: #211d45;
    
    position: absolute;
    right: -40%;
    left: -40%;
    top: -50%;
    bottom: 0;

    z-index: -100;

    content: '';
}