<div class="contentwrapper">
    <app-nav></app-nav>
    <div class="headerwrapper">
        <div class="header-contentcol">
            <h3>
                Available for hire!
            </h3>
            <h1>
                Never settle for anything less than <span>perfection.</span>
            </h1>
            <p>
                In a constantly changing world, you need comitted and dynamic employees who are not afraid to get their
                hands dirty.
            </p>
        </div>
        <div class="header-herocol">
            <img src="../../../assets/heros/main.png">
        </div>
    </div>
</div>