:host {
    background-color: #121128;

    width: 100%;
    min-height: 100%;

    position: relative;
}

.highlightbox {
    background-color: #003cbe;

    width: 30%;
    height: 59%;

    position: absolute;
    right: 0;
}