* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    display: flex;

    font-family: 'Quicksand', sans-serif;
    color: #1a1c1e;

    background-color: #f9fafe;
}
app-root {
    width: 100%;
}