:host {
    display: flex;

    width: 100%;

    box-sizing: border-box;

    padding: 2.5% 5%;

    align-items: center;

    img {
        height: 2.5em;
    }

    app-navlink {
        margin: 0 2em;
    }

    .linkwrapper {
        margin-left: auto;

        display: flex;
    }
}